<!DOCTYPE HTML>
<html>
<head>
<title>老王个人博客 — 一个站在java开发之路上的草根程序员个人博客网站</title>
<base href="http://localhost/blogs/lxyblog/public/index/template/">
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta name="keywords" content="个人博客,王风宇个人博客,个人博客系统,老王博客,王风宇">
<meta name="description" content="Lao王博客系统，一个站在java开发之路上的草根程序员个人博客网站。">
<LINK rel="Bookmark" href="favicon.ico" >
<LINK rel="Shortcut Icon" href="favicon.ico" />
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"> 
<!--[if lt IE 9]>
<script type="text/javascript" src="/staticRes/js/html5shiv.js"></script>
<script type="text/javascript" src="/staticRes/js/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="plugin/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="plugin/Hui-iconfont/1.0.8/iconfont.min.css" />
<link rel="stylesheet" type="text/css" href="css/common.css" />
<link rel="stylesheet" type="text/css" href="plugin/pifu/pifu.css" />
<!--[if lt IE 9]>
<link href="/staticRes/lib/h-ui/css/H-ui.ie.css" rel="stylesheet" type="text/css" />
<![endif]-->
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } function showSide(){$('.navbar-nav').toggle();}</script>
</head>
<style>
    /*轮播图*/
	.img{
		width: 980px;
	}
    /*最新文章图片*/
    .lazyload{
        height: 100px;
    }
</style>
<body>
{include file='public/header'}

<section class="container pt-20">
	<!--<div class="Huialert Huialert-info"><i class="Hui-iconfont">&#xe6a6;</i>成功状态提示</div>-->
  <!--left-->
  <div class="col-sm-9 col-md-9">
  	<!--滚动图-->
  	<div class="slider_main">
            <div class="slider">
                <div class="bd">
                    <ul>
                	{foreach $notice as $v}
                        <li><a href="#" target="_blank"><img class="img" src="http://localhost/{$v.titlepic}"></a></li>
                    {/foreach}
                    </ul>
                </div>
                <ol class="hd cl dots">
				{for start="0" end="count($notice)"}
                    <li>$i</li>
				{/for}
                </ol>
                <a class="slider-arrow prev" href="javascript:void(0)"></a>
                <a class="slider-arrow next" href="javascript:void(0)"></a>
            </div>
        </div>
  		
		<div class="mt-20 bg-fff box-shadow radius mb-5">
			<div class="tab-category">
				<a href=""><strong class="current">最新发布</strong></a>
			</div>
		</div>
		<div class="art_content">
			<ul class="index_arc">
				{foreach $title_newtime as $v}
				<li class="index_arc_item">
					<a href="#" class="pic">
						<img class="lazyload" data-original="http://localhost/{$v.titlepic}" alt="应该选" />
					</a>
					<h4 class="title"><a href="{:url('detailpages/index')}?title_id={$v.title_id}">{$v.title}</a></h4>
					<div class="date_hits">
						<span>{$v.name}</span>
						<span>{$v.time|date='Y-m-d'}</span>
						<span><a href="/article-lists/10.html">程序人生</a></span>
						<p class="hits"><i class="Hui-iconfont" title="赞">&#xe6c1;</i>{$v.visibility}</p>
						<p class="commonts"><i class="Hui-iconfont" title="浏览量">&#xe622;</i> <span class="cy_cmt_count">{$v.comment}</span></p>
					</div>
					<div class="desc">{$v.describe}</div>
				</li>
				{/foreach}
			</ul>
			 <ul class="pagination pagenav" style="display: inline;">
             
                  {$page|raw}

            </ul>
		</div>
  </div>
  
  <!--right-->
  <div class="col-sm-3 col-md-3">
  	
  	<!--站点声明-->
        <div class="panel panel-default mb-20">
            <div class="panel-body">
                <i class="Hui-iconfont" style="float: left;">&#xe62f;&nbsp;</i>
                <div class="slideTxtBox">
                    <div class="bd">
                        <ul>
                            <li><a href="javascript:void(0);">Lao博客测试版上线，欢迎访问</a></li>
                            <li><a href="javascript:void(0);">内容如有侵犯，请立即联系管理员删除</a></li>
                            <li><a href="javascript:void(0);">本站内容仅供学习和参阅，不做任何商业用途</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
  	<!--博主信息-->
        <div class="bg-fff box-shadow radius mb-20">
            <div class="tab-category">
                <a href=""><strong>博主信息</strong></a>
            </div>
            <div class="tab-category-item">
                <ul class="index_recd">

                    <li class="index_recd_item"><i class="Hui-iconfont">&#xe653;</i>姓名：李新元</li>
                    <li class="index_recd_item"><i class="Hui-iconfont">&#xe70d;</i>职业：php开发</li>
                    <li class="index_recd_item"><i class="Hui-iconfont">&#xe63b;</i>邮箱：<a href="mailto:2777893479@qq.com">2777893479@qq.com</a></li>
                    <li class="index_recd_item"><i class="Hui-iconfont">&#xe671;</i>定位：北京 &middot; 海淀</li>
                </ul>
            </div>
        </div>
  	
  	
  	<!--热门推荐-->
  	<div class="bg-fff box-shadow radius mb-20">
			<div class="tab-category">
				<a href=""><strong>热门推荐</strong></a>
			</div>
			<div class="tab-category-item">
				<ul class="index_recd">
					{foreach $hot as $v}
					<li>
						<a href="{:url('detailpages/index')}?title_id={$v.title_id}">{$v.title}</a>
						<p class="hits"><i class="Hui-iconfont" title="浏览量">&#xe622;</i> {$v.comment} </p>
					</li>
					{/foreach}
				</ul>
			</div>
		</div>
		
		<!--点击排行-->
        <div class="bg-fff box-shadow radius mb-20">
            <div class="tab-category">
                <a href=""><strong>点击排行</strong></a>
            </div>
            <div class="tab-category-item">
                <ul class="index_recd clickTop">
                	{foreach $visibility as $v}
                    <li>
                        <a href="{:url('detailpages/index')}?title_id={$v.title_id}">{$v.title}</a>
                        <p class="hits"><i class="Hui-iconfont" title="点击量">&#xe6c1;</i> {$v.visibility}° </p>
                    </li>
                    {/foreach}
                </ul>
            </div>
        </div>
		<!--友情链接-->
		<div class="bg-fff box-shadow radius mb-20">
			<div class="tab-category">
				<a href=""><strong>友情链接</strong></a>
			</div>
			<div class="tab-category-item">
				{foreach $flink as $v}
				<span><i class="Hui-iconfont">&#xe6f1;</i><a href="{$v.url}" class="btn-link">{$v.name}</a></span>
				{/foreach}
				
			</div>
		</div>
  </div>
  
</section>
<footer class="footer mt-20">
    <div class="container-fluid" id="foot">
        <p>Copyright &copy; 2016-2017 www.wfyvv.com <br>
            <a href="http://www.miitbeian.gov.cn/" target="_blank">皖ICP备17002922号</a><br>
        </p>
    </div>
</footer>
<script type="text/javascript" src="plugin/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="plugin/layer/3.0/layer.js"></script>
<script type="text/javascript" src="plugin/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="plugin/pifu/pifu.js"></script>
<script type="text/javascript" src="js/common.js"></script>
<script> $(function(){ $(window).on("scroll",backToTopFun); backToTopFun(); }); </script>
<script type="text/javascript" src="plugin/jquery.SuperSlide/2.1.1/jquery.SuperSlide.min.js"></script>

<script>
$(function(){
//幻灯片
jQuery(".slider_main .slider").slide({mainCell: ".bd ul", titCell: ".hd li", trigger: "mouseover", effect: "leftLoop", autoPlay: true, delayTime: 700, interTime: 2000, pnLoop: true, titOnClassName: "active"})
//tips
jQuery(".slideTxtBox").slide({titCell: ".hd ul", mainCell: ".bd ul", autoPage: true, effect: "top", autoPlay: true});
//标签
	$(".tags a").each(function(){
		var x = 9;
		var y = 0;
		var rand = parseInt(Math.random() * (x - y + 1) + y);
		$(this).addClass("tags"+rand)
	});
	
	$("img.lazyload").lazyload({failurelimit : 3});
});

</script> 

</body>
</html>
<!-- <script typet="text/javascript" src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script> -->
<script>
    $(".unset").click(function(){

        var res = confirm("你去确定要退出吗？");
        if(res==true){
            $.ajax({
                url:"{:url('login/unset')}",
                success:function(res){
                    location.reload();
                    return true;
                }
            })
          
        }
        if(res==false){
            return false;
        }
    })
</script>
