<aside class="col-sm-3 col-md-2 col-lg-2 sidebar">
      <ul class="nav nav-sidebar">
        <li class="active"><a href="{:url('index/index')}">报告</a></li>
      </ul>
      <ul class="nav nav-sidebar">
        <li><a href="{:url('article/index')}">文章</a></li>
        <li><a href="{:url('notice/index')}">广告</a></li>
        <li><a href="{:url('comment/index')}">评论</a></li>
        <li><a href="{:url('flink/index')}">友情链接</a></li>
      </ul>
      <ul class="nav nav-sidebar">
        <li><a class="dropdown-toggle" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">用户</a>
          <ul class="dropdown-menu" aria-labelledby="userMenu">
            <li><a href="{:url('manage/index')}">管理用户</a></li>
            <li role="separator" class="divider"></li>
          </ul>
        </li>
        <li><a class="dropdown-toggle" id="settingMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">设置</a>
          <ul class="dropdown-menu" aria-labelledby="settingMenu">
            <li><a href="readset.html">用户权限</a></li>
            <li role="separator" class="divider"></li>
          </ul>
        </li>
      </ul>
    </aside>